/StudentManagement/nbproject/private/
/StudentManagement/build/
/FruitShop/nbproject/private/
/FruitShop/build/
/Recursion/nbproject/private/
/Recursion/build/
/Recursion/dist/
/NormalizeText/nbproject/private/
/NormalizeText/build/
/SolvingMath/nbproject/private/
/SolvingMath/build/
/GeographicManagement/nbproject/private/
/GeographicManagement/build/
/ComputerProgram/nbproject/private/
/ComputerProgram/build/
/ContactManagement/nbproject/private/
/ContactManagement/build/
/DoctorManagement/build/
/JavaApplication70/nbproject/private/
/JavaApplication70/build/
/WorkerManagement/nbproject/private/
/WorkerManagement/build/
/WorkerManagement/dist/
