/StudentManagement/nbproject/private/
/StudentManagement/build/
/FruitShop/nbproject/private/
/FruitShop/build/
/Recursion/nbproject/private/
/Recursion/build/
/Recursion/dist/
/NormalizeText/nbproject/private/
/NormalizeText/build/
/SolvingMath/nbproject/private/
/SolvingMath/build/
/GeographicManagement/nbproject/private/
/GeographicManagement/build/
/ComputerProgram/nbproject/private/
/ComputerProgram/build/
/ContactManagement/nbproject/private/
/ContactManagement/build/
/DoctorManagement/build/
/JavaApplication70/nbproject/private/
/JavaApplication70/build/
/WorkerManagement/nbproject/private/
/WorkerManagement/build/
/WorkerManagement/dist/
/Dictionary/nbproject/private/
/Dictionary/build/
/HandleFile/nbproject/private/
/HandleFile/build/
/CalPerimeterAndArea/nbproject/private/
/CalPerimeterAndArea/build/
/InputSortDisplayStudent/nbproject/private/
/InputSortDisplayStudent/build/
/AnalyzeFile/nbproject/private/
/AnalyzeFile/build/
/displayPersonInfo/nbproject/private/
/displayPersonInfo/build/
/DataFormat/nbproject/private/
/DataFormat/build/
/AnalyzeInputString/nbproject/private/
/AnalyzeInputString/build/
/AnalyzeInputString/dist/
/TaskManagement/nbproject/private/
/TaskManagement/build/
/HandyExpense/nbproject/private/
/HandyExpense/build/
